@charset "utf-8";

.header {
  width: 80%;
  height: 80px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #fff;
}
